.backButton {
  text-align: right;
  margin: 2% 5%;
  font-weight: bold;
}

.backButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  text-align: center;
}

.details {
  text-align: center;
}
